<h1 mat-dialog-title>Add Users</h1>
<div mat-dialog-content>
  <form [formGroup]="registerForm">
  <mat-form-field appearance="outline" class="col-md-6">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field appearance="outline" class="col-md-6">
    <mat-label>Phone Number</mat-label>
    <input formControlName="phoneNumber" matInput placeholder="Phone Number" minlength="10" maxlength="10">
<!--    <mat-error *ngIf="registerForm.get('phoneNumber').hasError('minlength'&&'pattern' )">Please Enter A Valid Phone number</mat-error>-->
<!--    <mat-error *ngIf="registerForm.get('phoneNumber').hasError('required')">'This field is required'</mat-error>-->
  </mat-form-field>



  <mat-form-field appearance="outline" class="col-md-6">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender" placeholder="Gender" >
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
      <mat-option value="others">Others</mat-option>

    </mat-select>

  </mat-form-field>
  <mat-form-field appearance="outline" class="col-md-6">
    <mat-label>Religion</mat-label>
    <mat-select formControlName="religion" placeholder="Religion">
      <mat-option value="hinduism">Hinduism</mat-option>
      <mat-option value="islam">Islam</mat-option>
      <mat-option value="christianity">Christianity</mat-option>
      <mat-option value="buddhism">Buddhism</mat-option>
      <mat-option value="jainism">Jainism</mat-option>
      <mat-option value="sikhism">Sikhism</mat-option>
      <mat-option value="zoroastrians">zoroastrians</mat-option>
    </mat-select>

  </mat-form-field>
  <mat-form-field appearance="outline" class="col-md-6">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category" placeholder="Category">
      <mat-option value="general">GEN</mat-option>
      <mat-option value="obc">OBC</mat-option>
      <mat-option value="sc">SC</mat-option>
      <mat-option value="st">ST</mat-option>
      <mat-option value="minority">Minority</mat-option>
    </mat-select>

  </mat-form-field>
  <mat-form-field appearance="outline" class="col-md-6">
    <mat-label>Caste</mat-label>
    <input formControlName="caste" matInput placeholder="Caste">
  </mat-form-field>
  <mat-form-field appearance="outline" class="col-md-6">
    <mat-label> State</mat-label>
    <mat-select formControlName="state" placeholder="State">
      <mat-option value="andhra pradesh">Andhra Pradesh</mat-option>
      <mat-option value="arunachal pradesh">Arunachal Pradesh</mat-option>
      <mat-option value="assam">Assam</mat-option>
      <mat-option value="bihar">Bihar</mat-option>
      <mat-option value="chhattisgarh">Chhattisgarh</mat-option>
      <mat-option value="goa">Goa</mat-option>
      <mat-option value="gujarat">Gujarat</mat-option>
      <mat-option value="haryana">Haryana</mat-option>
      <mat-option value="himachal pradesh">Himachal Pradesh</mat-option>
      <mat-option value="jharkhand">Jharkhand</mat-option>
      <mat-option value="karnataka">Karnataka</mat-option>
      <mat-option value="kerela">Kerela</mat-option>
      <mat-option value="madhya pradesh">Madhya Pradesh</mat-option>
      <mat-option value="maharashtra">Maharashtra</mat-option>
      <mat-option value="manipur">Manipur</mat-option>
      <mat-option value="meghalaya">Meghalaya</mat-option>
      <mat-option value="mizoram">Mizoram</mat-option>
      <mat-option value="nagaland">Nagaland</mat-option>
      <mat-option value="odisha">Odisha</mat-option>
      <mat-option value="punjab">Punjab</mat-option>
      <mat-option value="rajasthan">Rajasthan</mat-option>
      <mat-option value="sikkim">Sikkim</mat-option>
      <mat-option value="tamil nadu">Tamil Nadu</mat-option>
      <mat-option value="telangana">Telangana</mat-option>
      <mat-option value="tripura">Tripura</mat-option>
      <mat-option value="uttar pradesh">Uttar Pradesh</mat-option>
      <mat-option value="uttarakhand">uttarakhand</mat-option>
      <mat-option value="west bengal">West Bengal</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="col-md-6">
    <mat-label>PinCode</mat-label>
    <input formControlName="pinCode" matInput placeholder=" PinCode" minlength="6" maxlength="6">
  </mat-form-field>

  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color ="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color ="primary" (click)="addUser()" >{{actionBtn}}</button>

</div>
